body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.book-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.close-button{
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.close-button:hover{
    background-color: #0056b3;
}

#book-search {
    margin-bottom: 1rem;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.book {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.book:hover {
    transform: scale(1.05);
}

.book img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }
}
